header {
  display: flex-box;
  padding: 50px;
}

.jumbotron {
  color: rgb(153, 153, 245);
  background-color: rgba(0, 0, 0, 0.678);
  border-bottom: 10px black;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  opacity: 80%;
}

.paraid {
  font-size: 15px;
  color: aliceblue;
  font-family: monospace;
  opacity: 20%;
}

.lead {
  text-align: center;
  padding: 20px;
  background-color: rgb(153, 153, 245);
  opacity: 50%;
}

.cityname {
  text-align: center;
  display: flexbox;
  background-color: rgba(128, 128, 128, 0.158);
  padding: 20px 20px;
}

.searchwe {
  text-align: center;
  display: flexbox;
  font-family: monospace;
  border: none;
}

.buttons {
  color: rgb(153, 153, 245);
  background-color: black;
  opacity: 80%;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 15px;
  display: flexbox;
  font-family: monospace;
  margin: 10px 260px;
}

#namecity {
  color: rgb(153, 153, 245);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
