header {
  display: flex-box;
  padding: 50px;
}

.jumbotron {
  color: rgb(153, 153, 245);
  background-color: rgba(0, 0, 0, 0.678);
  border-bottom: 10px black;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  opacity: 80%;
}

.paraid {
  font-size: 15px;
  color: aliceblue;
  font-family: monospace;
  opacity: 20%;
}

.lead {
  text-align: center;
  padding: 20px;
  background-color: rgb(153, 153, 245);
  opacity: 50%;
}

.cityname {
  text-align: center;
  display: flexbox;
  background-color: rgba(128, 128, 128, 0.158);
  padding: 20px 20px;
}

.searchwe {
  text-align: center;
  display: flexbox;
  font-family: monospace;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.searchbox {
  border-radius: 60px;
  border: none;
  padding: 5px 60px;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 20px;
}

.searchbox:hover {
  opacity: 80%;
  border: none;
}

.buttons {
  color: white;
  background-color: black;
  opacity: 80%;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 15px;
  display: inline;
  font-family: monospace;
  text-align: center;
  align-items: center;
  margin: 10px 220px;
}

.buttons:hover {
  padding: 15px;
}

input[type="text"] {
  background-color: rgb(153, 153, 245);
  opacity: 30%;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: black;
  text-align: center;
}

.display {
  text-align: center;
}

#namecity {
  color: rgb(153, 153, 245);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
