header {
  display: flex-box;
  padding: 50px;
}

.jumbotron {
  color: rgb(153, 153, 245);
  background-color: rgba(0, 0, 0, 0.678);
  border-bottom: 10px black;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

.paraid {
  font-size: 15px;
  color: aliceblue;
  font-family: monospace;
  opacity: 20%;
}
